
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>HAKKIMDA MENÜSÜ</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>ŞEHİR</th>
    </tr>
    <tr>
        <td>1</td>
        <td>DUYGU</td>
        <td>AĞRI</td>
    </tr>
    <tr>
        <td>2</td>
        <td>MURAT</td>
        <td>ELAZIĞ</td>
    </tr>
</table>